.card {
  background-color: #64d583;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  position: relative;
  flex-shrink: 0;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_yellow {
  background-color: #f5d770;
}

.card_color_default,
.card_color_green {
  background-color: #64d583;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__count {
  margin: 0;
}

.card__delete-btn {
  background-color: transparent;
  opacity: 50%;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../images/delete.svg);
  cursor: pointer;
  z-index: 2;
}

.card__delete-btn:hover {
  opacity: 100%;
  text-decoration: underline;
}

.card__carousel_color_blue {
  background-color: #91a8f9;
}

.card__carousel_color_orange {
  background-color: #ee955e;
}

.card__carousel_color_pink {
  background-color: #ee92d7;
}

.card__carousel_color_purple {
  background-color: #aa8ef0;
}

.card__carousel_color_yellow {
  background-color: #f5d770;
}

.card__carousel_color_default,
.card__carousel_color_green {
  background-color: #64d583;
}
