.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel__title {
  color: #c5c5c5;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.carousel__main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel__btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.carousel__btn:hover {
  opacity: 100%;
}

.carousel__btn_type_left {
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-image: url(../images/left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_type_right {
  background-image: url(../images/right.svg);
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_type_flip {
  background-image: url(../images/flip.svg);
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_disabled,
.carousel__btn:disabled,
.carousel__btn_disabled:hover,
.carousel__btn:disabled:hover {
  opacity: 20%;
  cursor: default;
}

.carousel__card {
  width: 440px;
  height: 300px;
  background-color: #64d583;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel__card_color_white {
  background-color: #fff;
}

.carousel__card-text {
  font-weight: 700;
  font-size: 32px;
}
