.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.nav__link {
  display: contents;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 600px) {
  .nav__links {
    gap: 12px;
  }

  .nav__link {
    font-size: 14px;
  }
}
