.page {
  background-color: #ececec;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 20px 40px 0 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.page__main-content {
  margin-top: 40px;
  flex-grow: 1;
  margin-bottom: 138px;
}
.page__main-content_location_carousel {
  margin-top: 106px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 0;
}

.header__link {
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.nav__link {
  display: contents;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.decks__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
}

.decks__list {
  margin: 0;
  padding: 0;
  display: contents;
  align-items: center;

  padding-bottom: 20px;
}

.decks {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
}

.deck {
  background-color: #64d583;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  position: relative;
  flex-shrink: 0;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.card__carousel_color_blue {
  background-color: #91a8f9;
}

.card__carousel_color_orange {
  background-color: #ee955e;
}

.card__carousel_color_pink {
  background-color: #ee92d7;
}

.card__carousel_color_purple {
  background-color: #aa8ef0;
}

.card__carousel_color_yellow {
  background-color: #f5d770;
}

.card__carousel_color_default,
.card__carousel_color_green {
  background-color: #64d583;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_yellow {
  background-color: #f5d770;
}

.deck_color_default,
.deck_color_green {
  background-color: #64d583;
}

.deck__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__count {
  margin: 0;
}

.deck__delete-btn {
  background-color: transparent;
  opacity: 50%;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../images/delete.svg);
  cursor: pointer;
  z-index: 2;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel__title {
  color: #c5c5c5;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.carousel__main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel__btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.carousel__btn:hover {
  opacity: 100%;
}

.carousel__btn_type_left {
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-image: url(../images/left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_type_right {
  background-image: url(../images/right.svg);
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_type_flip {
  background-image: url(../images/flip.svg);
  width: 44px;
  height: 44px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  opacity: 50%;
}

.carousel__btn_disabled,
.carousel__btn:disabled,
.carousel__btn_disabled:hover,
.carousel__btn:disabled:hover {
  opacity: 20%;
  cursor: default;
}

.carousel__card {
  width: 440px;
  height: 300px;
  background-color: #64d583;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel__card_color_white {
  background-color: #fff;
}

.carousel__card-text {
  font-weight: 700;
  font-size: 32px;
}

.deck__delete-btn:hover {
  opacity: 100%;
  text-decoration: underline;
}

.decks__new-deck-btn {
  cursor: pointer;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  background-color: #c5c5c5;
  color: #1a1a1a80;
  border: none;
  font-weight: 700;
  font-size: 24px;
  flex-shrink: 0;
}

.footer__text {
  color: rgb(3, 3, 44);
}

.not-found {
  display: flex;
  flex-direction: column;
}
